In [1]:
import os
import glob
import numpy as np
import pandas as pd

from util import *

%load_ext autoreload
%autoreload 2

In [2]:
har_accel_df = read_sensor_data('accel')
har_gyro_df = read_sensor_data('gyro')

har_df = [har_accel_df, har_gyro_df]

In [6]:
activity_map = get_activity_map()

for df in har_df:
    df['activity'] = df['activity'].map(activity_map)

In [8]:
display(har_accel_df.head())
display(har_gyro_df.head())

   subject_id activity       timestamp   accel_x   accel_y   accel_z
0        1600  walking  90426708196641  7.091625 -0.591667  8.195502
1        1600  walking  90426757696641  4.972757 -0.158317  6.696732
2        1600  walking  90426807196641  3.253720 -0.191835  6.107758
3        1600  walking  90426856696641  2.801216 -0.155922  5.997625
4        1600  walking  90426906196641  3.770868 -1.051354  7.731027

   subject_id activity       timestamp    gyro_x    gyro_y    gyro_z
0        1600  walking  90426757696641  0.314944 -1.022277 -0.309962
1        1600  walking  90426807196641  0.387382 -0.618541 -0.048972
2        1600  walking  90426856696641  0.070999 -0.209480 -0.195978
3        1600  walking  90426906196641  0.037975  0.254976 -0.156563
4        1600  walking  90426955696641  0.073129  0.719431 -0.001035

In [9]:
display(har_accel_df.shape)
display(har_gyro_df.shape)

(3712142, 6)

(3375473, 6)

In [11]:
if not (os.path.exists('data/accel.csv') or os.path.exists('data/gyro.csv')):
    os.makedirs('data', exist_ok=True)
    har_accel_df.to_csv('data/accel.csv', index=False)
    har_gyro_df.to_csv('data/gyro.csv', index=False)

#### We can see that the data is not consistent. Samples exist for which both sensor readings are not present. Let's merge the dataframe to solve this problem.

In [12]:
har_df = pd.merge(har_accel_df, har_gyro_df, on=['subject_id', 'activity', 'timestamp'], how='inner')

display(har_df.head())
display(har_df.shape)

,subject_id,activity,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z
0,1600,walking,90426757696641,4.972757,-0.158317,6.696732,0.314944,-1.022277,-0.309962
1,1600,walking,90426807196641,3.253720,-0.191835,6.107758,0.387382,-0.618541,-0.048972
2,1600,walking,90426856696641,2.801216,-0.155922,5.997625,0.070999,-0.209480,-0.195978
3,1600,walking,90426906196641,3.770868,-1.051354,7.731027,0.037975,0.254976,-0.156563
4,1600,walking,90426955696641,4.661511,0.169689,9.684695,0.073129,0.719431,-0.001035

(3173935, 9)

In [ ]:
with pd.option_context('display.max_rows', None):
    display(har_df.groupby(['subject_id', 'activity'])['timestamp'].count())

In [32]:
if not os.path.exists('data/har.csv'):
    har_df.to_csv('data/har.csv', index=False)